@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@mixin fontAdd() {
  font-family: 'Handlee', cursive, "Apple SD Gothic Neo", arial;
}

@mixin absolute-zero() {
  position: absolute;
  top: 0;
  left: 0;
}

body {
    background: #50759b;
    overflow: hidden;
}

.contentWrap {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);

  perspective: 800px;
  transform-style: preserve-3d;
  
  .front {
    position: relative;
    width: 400px;
    height: 250px;
    background: #10264a;
    border-radius: 10px 10px 0 0;

    transform-style: preserve-3d;
    transform-origin: bottom center;
    transform: rotateX(-10deg);
    perspective: 800px;

    h1 {
      @include absolute-zero();
      width: 100%;
      height: 200px;
      background: url(../image/text.png) center top / 200px no-repeat;
      transform: translate3d(55px, 40px, 57px);
    }

    .sun {
      @include absolute-zero();
      width: 100px;
      height: 100px;
      background: url(../image/sun.png) center bottom / 60px no-repeat;
      transform: translate3d(30px, 50px, 10px);
    }

    .cloud1, .cloud2 {
      @include absolute-zero();
      width: 100px;
      height: 100px;
      background: url(../image/cloud.png) center center / 40px no-repeat;
      transform: translate3d(70px, 60px, 30px);
      opacity: .8;
      z-index: 10;
    }

    .cloud2 {
      background: url(../image/cloud.png) center center / 36px no-repeat;
      transform: translate3d(-20px, 90px, 40px);
    }

    .m1 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 90%;
      height: 200px;
      background: url(../image/m1.png) right bottom / 55% no-repeat;
      transform: translate3d(-8px, 0, 26px);
    }

    .m2 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 90%;
      height: 200px;
      background: url(../image/m2.png) right bottom / 100% no-repeat;
      transform: translate3d(-10px, 0, 45px);
    }

    .m3 {
      position: absolute;
      width: 90%;
      right: 0;
      bottom: 0;
      height: 200px;
      background: url(../image/m3.png) right bottom / 75% no-repeat;
      transform: translate3d(-20px, 0, 70px);
    }

    .snow {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 230px;
      background: url(../image/snow.png) center bottom / 90% no-repeat;
      transform: translate3d(0, 0, 35px);
    }

    .cow {
      position: absolute;
      width: 70px;
      height: 70px;
      bottom: 0;
      left: 0;
      z-index: 10;
      background: url(../image/cow.png) center center / 100% no-repeat;
      transform: translate3d(65px, -9px, 48px);
    }
  }
  
  .back {
    position: relative;
    width: 400px;
    height: 200px;
    background: linear-gradient(180deg, #d8d8d8, #fff);
    border-radius: 0 0 10px 10px;

    transform: rotateX(70deg);
    transform-origin: top center;
    transform-style: preserve-3d;
    perspective: 800px;

    h3 {
        position: absolute;
        font-size: 12px;
        text-align: right;
        font-weight: 100;
        right: 0px;
        bottom: 0;
        transform-origin: bottom;
        transform: translate3d(-20px, 0px, 2px);
        color: #000;
        @include fontAdd();
    }

    .msg {
        position: absolute;
        display: block;
        width: 100%;
        font-size: 12px;
        text-align: center;
        font-weight: 100;
        top: 100px;
        left: 0px;

        transform-origin: bottom;
        transform: translate3d(0px, 0px, 2px);
        color: #000;
    }
}
}