body {
  overflow: hidden;
}

.contentWrap {
  background: linear-gradient(120deg, #0272a4, #f6a564);
  height: 100vh;
  width: 100vw;
}

.album {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 47%;
  left: 55%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.4s ease;
}

.album.active {
  opacity: 1;
  left: 50%;
}

.disk {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 380px;
  height: 380px;
  background: linear-gradient(-120deg, black, rgb(57, 57, 57), black);
  box-shadow: 4px 14px 40px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: left 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: rotateAni 4s linear infinite;
  animation: rotateAni 4s linear infinite;
}

.album.active .disk {
  transition-delay: 0.5s;
  left: 200px;
}

.disk_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  background: #0272a4;
  border: 3px dashed rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.coverImg {
  position: absolute;
  width: 400px;
  height: 400px;
  box-shadow: 2px 14px 40px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: 100%;
}

.buttonWrap {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

button {
  padding: 6px 20px;
  margin: 0 20px;
  background-color: #000;
  transition: all 0.3s ease-out;
  color: #fff;
}

button:hover {
  background-color: #fff;
  color: #000;
}

.pointWrap {
  display: flex;
  padding: 0;
}

li {
  list-style-type: none;
  width: 10px;
  height: 10px;
  background-color: rgb(224, 224, 224,.7);
  margin: 0 10px;
  transition: all 0.3s ease-out;
  border-radius: 50%;
}

li.active {
  background-color: black;
}

@-webkit-keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}